<a href="https://colab.research.google.com/github/wertonr/UFPB/blob/main/Aula_2_Introdu%C3%A7%C3%A3o_ao_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 2 - Introdução ao python
Nesta aula veremos:
- Função Print
- Operadores aritméticos: adição (+), subtração (-), Multiplicação (*), Divisão (/), Exponenciação (***), Divisão resultado inteiro (//) 
- Tipos de variáveis: string, int, float,

##Função Print

In [ ]:
# Primeira função: imprimir na tela (print)
print("Hello, World!")

Hello, World!

In [ ]:
print('Qual o valor de x?')
x = 4 + 2
x

Qual o valor de x?

6

In [ ]:
print(x)

##Operadores aritméticos

In [ ]:
#Operadores aritméticos: adição
132 + 43

175

In [ ]:
#Operadores aritméticos: subtração
73 - 14

59

In [ ]:
#Operadores aritméticos: multiplicação
22 * 3

66

In [ ]:
#Operadores aritméticos: divisão
100 / 3

33.333333333333336

In [ ]:
#Operadores aritméticos: divisão resultado inteiro
100 // 3

33

In [ ]:
101 // 3

33

In [ ]:
#Operadores aritméticos: exponencial
3 ** 2

9

Ordem de precedência (PEMDAS):

- 1º Parênteses; 
- 2º Expoentes
- 3º Multiplicações e divisões (da esquerda para direita)
- 4º Adições e subtrações (da esquerda para direita)

Qual a resposta dessas equações?

$
x = 7 + 7 / 7 + 7 * 7 - 7
$


$
x = 8 / 2 (2+2)
$

## Tipos de variáveis

In [ ]:
#String = texto (nossa linguagem com palavras e caracteres), vai ver descrita como str ou tipo objeto 
'Isso é uma string'

'Isso é uma string'

In [ ]:
#Inteiro = número inteiro, vai ser descrita como int
4

4

In [ ]:
#Float = ponto flutuante ou decimal, vai ser descrito como float
4.2

4.2

In [ ]:
#boolean = variavel booleana (True ou False), vai ser descrita como bool 
True

True

In [ ]:
#lista = estrutura de dados com itens organizados de forma linear e iniciando do zero, vai ser descrita como list
compras = ['Maça', 'Café', 'Ovo']

In [ ]:
variaveis = ['Brasil', 26, 1121.00]

In [ ]:
#Consultar o tipo da variável
type('Isso é uma string')

str

In [ ]:
#Associando um valor a variavel
x = 4.2

In [ ]:
print(x)
4+2

4.2

6

In [ ]:
x = 'João Pessoa'

In [ ]:
print('Qual sua cidade:', x)

Qual sua cidade: 4.2

In [ ]:
#Contar quantos caracteres tem na variavel string (OBS: também são contatos os espaços em branco)
len(x)

11

In [ ]:
#Quantos itens tem na lista
len(compras)

3

In [ ]:
x[1:]

'oão Pessoa'

In [ ]:
# converter float para inteiro
pi = 3.14
pi_int = int(pi)
type(pi_int)

int

In [ ]:
#